<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Code</th>
            <th>Temp</th>
            <th>Wind</th>
            <th>Pressure</th>
        </tr>
    </thead>
    <tbody>
       
        <tr>
            <td>
                {{codeToWeather}}
            </td>

            <td>
                {{lastReading.temp}}°C <br>
                {{toFahrenheit}}°F
            </td>
            <td>
                {{toBeufort}} bFt <br>
                {{direction}} <br>
                Feels like {{windChill}}°C
            </td>
            <td>
                {{lastReading.pressure}} hPa
            </td>
        </tr>

    </tbody>
</table>