<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Code</th>
            <th>Temp</th>
            <th>Wind</th>
            <th>Pressure</th>
        </tr>
    </thead>
    <tbody>
       
        <tr>
            <td>
                {{codeToWeather}}
            </td>

            <td>
                {{lastReading.temp}}째C <br>
                {{toFahrenheit}}째F <br><br><br>
                Max Temp<br>
                 {{maxTemp}}째C <br>
                 Min <br>
                 {{minTemp}}
                
            </td>
            <td>
                {{toBeufort}} bFt <br>
                {{direction}} <br>
                Feels like {{windChill}}째C <br><br>
                Max Wind <br>
                {{maxWindBft}} bFt <br>
                Min <br>
                {{minWindBft}}
            </td>
            <td>
                {{lastReading.pressure}} hPa <br><br><br><br>
                Max Pressure <br>
                {{maxPressure}} <br>
                Min <br>
                {{minPressure}}
            </td>
        </tr>

    </tbody>
</table>