<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Code</th>
            <th>Temp</th>
            <th>Wind Speed</th>
            <th>Pressure</th>
        </tr>
    </thead>
    <tbody>
       
        <tr>
            <td>
                {{codeToWeather}}
            </td>

            <td>
                {{lastReading.temp}}°C <br>
                {{celciusToFahrenheit}}°F
            </td>
            <td>
                {{convertToBeufort}} bFt
            </td>
            <td>
                {{lastReading.pressure}} hPa
            </td>
        </tr>

    </tbody>
</table>