<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Code</th>
            <th>Temp</th>
            <th>Wind</th>
            <th>Pressure</th>
        </tr>
    </thead>
    <tbody>
       
        <tr>
            <td>
                {{codeToWeather}}
            </td>

            <td>
                {{lastReading.temp}}°C <br>
                {{toFahrenheit}}°F <br><br><br>
                Max Temp<br>
                 {{maxTemp}}°C <br>
                 Min <br>
                 {{minTemp}} °C
                
            </td>
            <td>
                {{toBeufort}} bFt <br>
                {{direction}} <br>
                Feels like {{windChill}}°C <br><br>
                Max Wind <br>
                {{maxWindBft}} bFt <br>
                Min <br>
                {{minWindBft}} bFt
            </td>
            <td>
                {{lastReading.pressure}} hPa <br><br><br><br>
                Max Pressure <br>
                {{maxPressure}} hPa <br>
                Min <br>
                {{minPressure}} hPa
            </td>
        </tr>

    </tbody>
</table>