{{#each stations}}
</section>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                            {{name}} <br> <br>
                            Code: {{lastReading.code}}
                            Temperature: {{lastReading.temp}}
                            Wind Speed: {{lastReading.windspeed}}
                            Pressure: {{lastReading.pressure}}
                            Wind Direction: {{lastReading.windDirection}}
                            
                        <a href="/station/{{_id}}" class="button">{{>icons/open}}</a>
                        <a href="/dashboard/deletestation/{{_id}}" class="button">{{>icons/delete}}</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
{{/each}}
