{{#each stations}}
<section> <br> <br>
    <div class="columns">
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                           <i class="fa-solid fa-xl fa-location-dot"></i><br>
                           <h3>{{name}}</h3> <br><br>
                           Latitude <br> {{latitude}} <br>
                           Longitude <br>  {{longitude}}<br>
                    </div>
                </div>
            </div>
        </div>                              
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <br><br><br><h6>{{codeToWeatherDescription}}</h6><br> <br><br><br><br><br><br>
                            
                    </div>
                </div>
            </div>
        </div>                    
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                            <i class="fa-xl {{tempIcon}}"></i><br>
                            <br><br><h6>Temperature</h6> <br> {{lastReading.temp}}°C  <br>
                            {{celciusToFahrenheit}}°F <br> 
                            max/min <br> {{maxTemp}}°C <br>
                            {{minTemp}}°C <br> <br>
                            <i class="fa-solid fa-xl {{tempTrend}}"></i>   
                    </div>
                </div>
            </div>
        </div>                     
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                         <i class="fa-solid fa-xl fa-wind"></i><br><br>
                         <h6>Wind Info</h6>  <br><br> {{windToBeufort}}bFt<br>
                         <br> Feels like {{feelsLikeWind}}°C <br><br>
                         max/min <br>
                         {{maxWind}}bFt <br>
                         {{minWind}}bFt <br><br>
                         <i class="fa-solid fa-xl {{windTrend}}"></i>  
                    </div>
                </div>
            </div>
        </div>                      
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                           <i class="fa-solid fa-xl fa-arrow-down-short-wide"></i> <br><br>
                           <h6>Pressure</h6> <br><br> {{lastReading.pressure}}hPa <br>
                           max/min <br><br>
                           {{maxPressure}}hPa <br>
                           {{minPressure}}hPa <br><br><br>
                           <i class="fa-solid fa-xl {{pressureTrend}}"></i>  <br>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>                           
<div style="margin-top: 2em; padding-bottom: 4em">
    <a href="/station/{{_id}}" class="button">{{>icons/open}}</a>
    <a href="/dashboard/deletestation/{{_id}}" class="button">{{>icons/delete}}</a>
</div>
      

{{/each}}
