{{#each stations}}
<section>
    <div class="columns">
        <div class="column is-one-fifth">
            <div class="card" style="min-height: 100%;">
                <div class="card-content">
                    <div class="content has-text-centered">
                           <i class="fa-solid fa-xl fa-location-dot"></i><br>
                           <h3>{{name}}</h3> <br><br>
                           Latitude <br>
                            {{latitude}} <br>
                           Longitude <br>
                             {{longitude}}<br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>                              
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <i class="{{weatherIcon}}"></i><br><br>
                        <br><h5>{{codeToWeatherDescription}}</h5><br> <br><br><br><br><br><br><br><br><br><br>                            
                    </div>
                </div>
            </div>
        </div>                   
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                            <i class="{{tempIcon}} fa-solid "></i><br>
                            <br><br><h5>Temperature</h5> <br>
                             {{lastReading.temp}}°C  <br>
                            {{celciusToFahrenheit}}°F <br><br> 
                            max/min <br> {{maxTemp}}°C <br>
                            {{minTemp}}°C <br> <br><br><br> 
                            <i class="fa-solid fa-xl {{tempTrend}}"></i> <br>
                    </div>
                </div>
            </div>
        </div>                     
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                         <i class="fa-solid fa-xl fa-wind"></i><br><br><br>
                         <h5>Wind Info</h5>  <br>
                          {{windToBeufort}}bFt<br>
                         <br> Feels like {{feelsLikeWind}}°C <br><br>
                         max/min <br>
                         {{maxWind}}bFt <br>
                         {{minWind}}bFt <br><br><br>
                         <i class="fa-solid fa-xl {{windTrend}}"></i><br> 
                    </div>
                </div>
            </div>
        </div>                      
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                           <i class="fa-solid fa-xl fa-arrow-down-short-wide"></i><br><br><br>
                           <h5>Pressure</h5> <br><br>
                            {{lastReading.pressure}}hPa <br><br>
                           max/min <br>
                           {{maxPressure}}hPa <br>
                           {{minPressure}}hPa <br><br><br><br>
                           <i class="fa-solid fa-xl {{pressureTrend}}"></i><br>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>                           
<div style="margin-top: 2em; padding-bottom: 4em">
    <a href="/station/{{_id}}" class="button">{{>icons/open}}</a>
    <a href="/dashboard/deletestation/{{_id}}" class="button">{{>icons/delete}}</a>
</div>
      

{{/each}}
